body{
    width: 49%;
    height: 900px;
    margin:auto;
  /*border:1px solid black;*/
}
a{
    text-decoration: none; 
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#menu{
    /*border:1px solid rgb(248, 92, 201);*/
    width: 70%;
    height: 100px;
    margin-left:45.3%;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.LightGray{
    color:rgb(155, 159, 159);
    width: 100%;
    font-size: 10.8pt;
}
#line1{
    /*border:1px solid rgb(118, 92, 248);*/
    margin-top: 2%;
     padding-left:0%;
     width: 61.5%;
     margin-left: 22.3%;
     gap:20px;/*расстояние между элементами списка*/
     list-style: none; /*убирает пункты/точки*/
    display:flex; /*выстраивает содержание меню в ряд*/
}
.DarkGray{
    color:rgb(119,119,121);
    width: 100%;
    font-size: 14.7pt;
}
#line2{
    /*border:1px solid rgb(118, 92, 248);*/
    margin-top: -0.5%;
     padding-left:0%;
     width: 68%;
     margin-left: 16.8%;
     gap:20px;/*расстояние между элементами списка*/
     list-style: none; /*убирает пункты/точки*/
     display:flex; /*выстраивает содержание меню в ряд*/
}
#logo{
    margin-top:-10.5%;
    margin-left:-1.5%;
    width: 17%;
}
#download{
    border:3px solid rgb(90, 128, 30);
    background: linear-gradient(to right, 
        rgba(80, 126, 6, 0.4) 5%,     /* тёмный слева */
        transparent 60%,        /* плавно исчезает */
        transparent 60%,        /* центр чистый */
        rgba(80, 126, 6, 0.4) 100%    /* тёмный справа */
    ), rgb(140,185,67); /*фон кнопки*/

     margin-left:-52%;
     margin-top:0.5%;
     width: 203.4%;
     height: 50.5px; 

    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:17.3pt;
}
#line3{
    /*border:1px solid rgb(248, 92, 102);*/
    margin-left: 25.3%;
    width: 70%;
    margin-top:0.6%;
}

.FreeVersion{
   width: 79%;
   height: 600px;
   margin-top:2.5%; 
   font-size: 10pt;
   line-height: 21px; /*расстояние между предложениями*/
}
#title1{
    width: 45%;
    margin-left: -0.4%;
     font-size: 18pt;
     font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#download-button{
    margin-top:0.5%;
    margin-left: 35%;
}
.text{
    /*border:1px solid rgb(248, 92, 102);*/
    margin-left: -0.3%;
    margin-top:3%;
     font-family:Arial, Helvetica, sans-serif;
     font-size: 10.9pt;
     line-height: 20px; /*расстояние между предложениями*/
}
span{
    color: rgb(62,121,48);
}
#title2{
    font-size: 14pt;
}
#windows{
    margin-top: -1%;
    margin-left: -0.9%;
}
.system_requirements{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10.3pt;
    margin-top:-14.8%;
    margin-left: 19%;
    list-style-type: square; /*квадратики вместо пунктов*/
    padding:0%;
    width: 65.5%;
}
table{
    border:1.7px solid rgb(227,227,227);
    width: 16.9%;
    height: 320px;
}
.table1{
   margin-top:-64.3%;
   margin-left: 83.4%;
}
.title3{
    border-bottom: 1px solid rgb(227,227,227);
    margin-top: -99%;
    padding-top: 0%;
    text-align: center;
    font-size: 14pt;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#softpedia{
    margin-top: 10%;
    width: 102%;
    height: 110px;
    margin-left:-2%;
    border-right: 3px solid rgb(227,227,227);
    border-radius: 15px;
}
#table2{
    margin-left:83.4%;
    margin-top:2%;
}
#title4{
    margin-top: -99%;
    padding-top: 0%;
    text-align: center;
    font-size: 14pt;
}
#clean{
    margin-top:-3%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10.8pt;
}
#order{
    padding-top:10%;
}


